<section class="horizontal-form">

  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{#accordion-list-item title=(t 'cluster.auth.title')
                           expand=(action expandFn)
                           expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6 mb-0">
          <label>{{t 'cluster.domainName.label'}}{{field-required}}</label>
          {{#input-or-display editable=(eq mode "new") value=config.domainName}}
            {{input type="text" name="domain-name" placeholder=(t 'cluster.domainName.placeholder')
                    classNames="form-control" value=config.domainName}}
          {{/input-or-display}}
        </div>
        <div class="col span-6 mb-0">
          <label>{{t 'cluster.projectName.label'}}{{field-required}}</label>
          {{#input-or-display editable=(eq mode "new") value=cconfig.projectName}}
            {{input type="text" name="project-name" placeholder=(t 'cluster.projectName.placeholder')
                    classNames="form-control" value=config.projectName}}
          {{/input-or-display}}
        </div>
      </div>
      <div class="row">
        <div class="col span-6 mb-0">
          <label>{{t 'cluster.username.label'}}{{field-required}}</label>
          {{#input-or-display editable=(or (eq mode "new") eq mode "editing") value=config.username}}
            {{input type="text" name="username" classNames="form-control" value=config.username}}
          {{/input-or-display}}
        </div>
        <div class="col span-6 mb-0">
          <label>{{t 'cluster.password.label'}}{{field-required}}</label>
          {{#input-or-display editable=(or (eq mode "new") eq mode "editing") value=config.password}}
            {{input type="password" name="passsword" classNames="form-control" value=config.password}}
          {{/input-or-display}}
        </div>
      </div>
    {{/accordion-list-item}}

    {{#if (gte step 2)}}
      {{#accordion-list-item title=(t 'cluster.cluster.title')
                             expandOnInit=true
                             expandAll=al.expandAll
                             expand=(action expandFn)
      }}
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.clusterVersion.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.clusterVersion}}
              {{new-select class="form-control"
                           content=clusterVersionChoices
                           value=config.clusterVersion
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.clusterType.label'}}{{field-required}}</label>
            {{#input-or-display editable=false  value=config.clusterType}}
              {{new-select class="form-control"
                           content=clusterTypeChoices
                           value=config.clusterType
              }}
            {{/input-or-display}}
          </div>
        </div>
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.clusterFlavor.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new") value=config.clusterFlavor}}
              {{searchable-select class="from-control"
                                  classNames="form-control"
                                  selected=defaultClusterFlavor
                                  content=clusterFlavorChoices
                                  value=config.clusterFlavor}}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.nodeCount.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new") value=config.nodeCount}}
              {{input type="number"
                      min=1
                      max=maxNodes
                      name="node-count"
                      classNames="form-control"
                      value=config.nodeCount}}
            {{/input-or-display}}
          </div>
        </div>
      {{/accordion-list-item}}
    {{/if}}

    {{#if (gte step 3)}}
      {{#accordion-list-item title=(t 'cluster.network.title')
                             detail=(t 'cluster.network.detail')
                             expandOnInit=true
                             expandAll=al.expandAll
                             expand=(action expandFn)
      }}
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.vpcName.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.vpcID }}
              {{searchable-select
                      name="vpc-id"
                      class="form-control"
                      classNames="form-control"
                      selected=""
                      content=vpcChoices
                      value=config.vpcID
              }}

            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.subnetName.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.subnetID}}
              {{searchable-select
                      name="subnet-id"
                      class="form-control"
                      classNames="form-control"
                      selected=""
                      content=subnetChoices
                      value=config.subnetID
              }}
            {{/input-or-display}}
          </div>
        </div>
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.containerNetworkMode.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.containerNetworkMode}}
              {{new-select class="form-control"
                           content=networkModeChoices
                           value=config.containerNetworkMode
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.containerNetworkCIDR.label'}}{{field-required}}</label>
            {{#input-or-display
                    editable=(eq mode "new")
                    value=config.containerNetworkCIDR}}
              {{input type="text"
                      name="subnet-name"
                      classNames="form-control"
                      value=config.containerNetworkCIDR}}
            {{/input-or-display}}
          </div>
        </div>
      {{/accordion-list-item}}
    {{/if}}

    {{#if (gte step 4)}}
      {{#accordion-list-item title=(t 'cluster.masterFloatingIP.title')
                             detail=(t 'cluster.masterFloatingIP.detail')
                             expandOnInit=true
                             expandAll=al.expandAll
                             expand=(action expandFn)
      }}
        <div class="row">
          <label>{{t 'cluster.newMasterEIP.label'}}</label>
          {{radio-button
                  name="m-new-or-ex"
                  selection=newMasterIP
                  value=true
          }}
        </div>
        <div class="row">
          <label>{{t 'cluster.oldMasterEIP.label'}}</label>
          {{radio-button
                  name="m-new-or-ex"
                  value=false
                  selection=newMasterIP
          }}
        </div>
        <div class="row">
          {{#if newMasterIP}}
            <div class="col span-6 mb-0">
              <label>{{t 'cluster.clusterEIPBandwidthSize.label'}}</label>
              {{#input-or-display
                      editable=(eq mode "new")
                      value=config.clusterEIPBandwidthSize}}
                {{input type="number"
                        name="master-bandwidth"
                        min=10
                        max=1000
                        value=config.clusterEIPBandwidthSize
                }}
              {{/input-or-display}}
            </div>
          {{else}}
            <div class="col span-6 mb-0">
              <label>{{t 'cluster.clusterFloatingIP.label'}}</label>
              {{#input-or-display
                      editable=(eq mode "new")
                      value=config.clusterFloatingIP}}
                {{input type="text"
                        placeholder=(t 'cluster.clusterFloatingIP.placeholder')
                        name="master-existing-ip"
                        value=config.clusterFloatingIP
                }}
              {{/input-or-display}}
            </div>
          {{/if}}
        </div>
      {{/accordion-list-item }}
    {{/if}}

    {{#if (gte step 5)}}
      {{#accordion-list-item title=(t 'cluster.node.title')
                             detail=(t 'cluster.node.detail')
                             expandOnInit=true
                             expandAll=al.expandAll
                             expand=(action expandFn)
      }}
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.nodeFlavor.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.nodeFlavor}}
              {{searchable-select
                      name="node-flavor"
                      classNames="form-control"
                      content=nodeFlavorChoices
                      value=config.nodeFlavor}}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.availabilityZone.label'}}{{field-required}}</label>
            {{#input-or-display
                    editable=(eq mode "new")
                    value=config.availabilityZone}}
              {{new-select class="form-control"
                           content=azChoices
                           value=config.availabilityZone
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.keyPair.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.keyPair}}
              {{searchable-select
                      name="key-pair"
                      classNames="form-control"
                      content=keyPairChoices
                      value=config.keyPair}}
            {{/input-or-display}}
          </div>
        </div>
      {{/accordion-list-item}}
    {{/if}}

    {{#if (gte step 6)}}
      {{#accordion-list-item title=(t 'cluster.disk.title')
                             detail=(t 'cluster.disk.detail')
                             expandOnInit=true
                             expandAll=al.expandAll
                             expand=(action expandFn)
      }}
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.rootVolumeType.label'}}{{field-required}}</label>
            {{#input-or-display
                    editable=(eq mode "new")
                    value=config.rootVolumeType}}
              {{new-select class="form-control"
                           content=diskTypeChoices
                           value=config.rootVolumeType
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.rootVolumeSize.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new") value=config.rootVolumeSize}}
              {{input type="number" min=40 max=1000 name="root-size" classNames="form-control"
                      value=config.rootVolumeSize}}
            {{/input-or-display}}
          </div>
        </div>
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.dataVolumeType.label'}}{{field-required}}</label>
            {{#input-or-display
                    editable=(eq mode "new")
                    value=config.dataVolumeType}}
              {{new-select class="form-control"
                           content=diskTypeChoices
                           value=config.dataVolumeType
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.dataVolumeSize.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new") value=config.dataVolumeSize}}
              {{input type="number"
                      min=100 max=1000
                      name="data-size"
                      classNames="form-control"
                      value=config.dataVolumeSize}}
            {{/input-or-display}}
          </div>
        </div>
      {{/accordion-list-item}}
    {{/if}}
    {{#if (gte step 7)}}
      {{#accordion-list-item title=(t 'cluster.loadbalancer.title')
                             detail=(t 'cluster.loadbalancer.detail')
                             expandOnInit=true
                             expandAll=al.expandAll
                             expand=(action expandFn)
      }}
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.createLoadBalancer.label'}}</label>
            {{#input-or-display
                    editable=(eq mode "new")
                    value=config.createLoadBalancer}}
              {{input type="checkbox"
                      name="use-lb"
                      checked=config.createLoadBalancer
              }}
            {{/input-or-display}}
          </div>
        </div>
        {{#if needLB}}
          <br/>
          <div class="row">
            <label>{{t 'cluster.newLBEIP.label'}}</label>
            {{radio-button
                    selection=newLBEIP
                    value=true
            }}
          </div>
          <div class="row">
            <label>{{t 'cluster.oldLBEIP.label'}}</label>
            {{radio-button
                    value=false
                    selection=newLBEIP
            }}
          </div>
          <div class="row">
            {{#if needNewLBEIP}}
              <div class="col span-6 mb-0">
                <label>{{t 'cluster.lbBandwidth.label'}}</label>
                {{#input-or-display
                        editable=(eq mode "new")
                        value=config.lbEIPBandwidthSize}}
                  {{input type="number"
                          name="lb-bandwidth"
                          min=10
                          max=1000
                          value=config.lbEIPBandwidthSize
                  }}
                {{/input-or-display}}
              </div>
            {{else}}
              <div class="col span-6 mb-0">
                <label>{{t 'cluster.lbFloatingIP.label'}}</label>
                {{#input-or-display
                        editable=(eq mode "new")
                        value=config.lbFloatingIP}}
                  {{input type="text"
                          placeholder=(t 'cluster.lbFloatingIP.placeholder')
                          name="existing-ip"
                          value=config.lbFloatingIP
                  }}
                {{/input-or-display}}
              </div>
            {{/if}}
          </div>
        {{/if}}
      {{/accordion-list-item }}
    {{/if}}
  {{/accordion-list}}

  {{save-cancel editing=(eq mode 'edit')
                save='save'
                cancel='cancel'
                createLabel=createLabel
                savingLabel='cluster.loadingNext'
  }}

  {{top-errors errors=errors}}

</section>