<section class="horizontal-form">

  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{#accordion-list-item title=(t 'cluster.auth.title')
                           expand=(action expandFn)
                           expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6 mb-0">
          <label>{{t 'cluster.domainName.label'}}{{field-required}}</label>
          {{#input-or-display editable=(eq mode "new") value=config.domainName}}
            {{input type="text" name="domain-name" placeholder=(t 'cluster.domainName.placeholder')
                    classNames="form-control" value=config.domainName}}
          {{/input-or-display}}
        </div>
        <div class="col span-6 mb-0">
          <label>{{t 'cluster.projectName.label'}}{{field-required}}</label>
          {{#input-or-display editable=(eq mode "new") value=cconfig.projectName}}
            {{input type="text" name="project-name" placeholder=(t 'cluster.projectName.placeholder')
                    classNames="form-control" value=config.projectName}}
          {{/input-or-display}}
        </div>
      </div>
      <div class="row">
        <div class="col span-6 mb-0">
          <label>{{t 'cluster.username.label'}}{{field-required}}</label>
          {{#input-or-display editable=(or (eq mode "new") eq mode "editing") value=config.username}}
            {{input type="text" name="username" classNames="form-control" value=config.username}}
          {{/input-or-display}}
        </div>
        <div class="col span-6 mb-0">
          <label>{{t 'cluster.password.label'}}{{field-required}}</label>
          {{#input-or-display editable=(or (eq mode "new") eq mode "editing") value=config.password}}
            {{input type="password" name="passsword" classNames="form-control" value=config.password}}
          {{/input-or-display}}
        </div>
      </div>
    {{/accordion-list-item}}

    {{#if (gte step 2)}}  <!-- FIXME: use steps after debug -->
      {{#accordion-list-item title=(t 'cluster.cluster.title')
                             expandOnInit=true
                             expandAll=al.expandAll
                             expand=(action expandFn)
      }}
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.clusterVersion.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.clusterVersion}}
              {{new-select class="form-control"
                           content=clusterVersionChoices
                           value=config.clusterVersion
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.clusterType.label'}}{{field-required}}</label>
            {{#input-or-display editable=false  value=config.clusterType}}
              {{new-select class="form-control"
                           content=clusterTypeChoices
                           value=config.clusterType
              }}
            {{/input-or-display}}
          </div>
        </div>
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.clusterFlavor.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new") value=config.clusterFlavor}}
              {{searchable-select class="from-control"
                                  classNames="form-control"
                                  selected=defaultClusterFlavor
                                  content=clusterFlavorChoices
                                  value=config.clusterFlavor}}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.nodeCount.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new") value=config.nodeCount}}
              {{input type="number" min=1 max=250 name="node-count" classNames="form-control" value=config.nodeCount}}
            {{/input-or-display}}
          </div>
        </div>
      {{/accordion-list-item}}
    {{/if}}

    {{#if (gte step 3)}}
      {{#accordion-list-item title=(t 'cluster.network.title')
                             detail=(t 'cluster.network.detail')
                             expandOnInit=true
                             expandAll=al.expandAll
                             expand=(action expandFn)
      }}
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.vpcName.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.vpcID }}
              {{searchable-select
                      name="vpc-id"
                      class="form-control"
                      classNames="form-control"
                      selected=""
                      content=vpcChoices
                      value=config.vpcID
              }}

            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.subnetName.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.subnetID}}
              {{searchable-select
                      name="subnet-id"
                      class="form-control"
                      classNames="form-control"
                      selected=""
                      content=subnetChoices
                      value=config.subnetID
              }}
            {{/input-or-display}}
          </div>
        </div>
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.containerNetworkMode.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.containerNetworkMode}}
              {{new-select class="form-control"
                           content=networkModeChoices
                           value=config.containerNetworkMode
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.containerNetworkCIDR.label'}}{{field-required}}</label>
            {{#input-or-display
                    editable=(eq mode "new")
                    value=config.containerNetworkCIDR}}
              {{input type="text"
                      name="subnet-name"
                      classNames="form-control"
                      value=config.containerNetworkCIDR}}
            {{/input-or-display}}
          </div>
        </div>
      {{/accordion-list-item}}
    {{/if}}

    {{#if (gte step 4)}}
      {{#accordion-list-item title=(t 'cluster.node.title')
                             detail=(t 'cluster.node.detail')
                             expandOnInit=true
                             expandAll=al.expandAll
                             expand=(action expandFn)
      }}
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.nodeFlavor.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.nodeFlavor}}
              {{input type="text"
                      name="node-flavor"
                      placeholder=(t 'cluster.nodeFlavor.placeholder')
                      classNames="form-control"
                      detail=(t 'cluster.nodeFlavor.detail')
                      value=config.nodeFlavor}}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.availabilityZone.label'}}{{field-required}}</label>
            {{#input-or-display
                    editable=(eq mode "new")
                    value=config.availabilityZone}}
              {{new-select class="form-control"
                           content=azChoices
                           value=config.availabilityZone
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.keyPair.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new")  value=config.keyPair}}
              {{input type="text"
                      name="key-pair"
                      classNames="form-control"
                      value=config.keyPair}}
            {{/input-or-display}}
          </div>
        </div>
      {{/accordion-list-item}}
    {{/if}}

    {{#if (gte step 5)}}
      {{#accordion-list-item title=(t 'cluster.disk.title')
                             detail=(t 'cluster.disk.detail')
                             expandOnInit=true
                             expandAll=al.expandAll
                             expand=(action expandFn)
      }}
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.rootVolumeType.label'}}{{field-required}}</label>
            {{#input-or-display
                    editable=(eq mode "new")
                    value=config.rootVolumeType}}
              {{new-select class="form-control"
                           content=diskTypeChoices
                           value=config.rootVolumeType
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.rootVolumeSize.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new") value=config.rootVolumeSize}}
              {{input type="number" min=40 max=1000 name="root-size" classNames="form-control"
                      value=config.rootVolumeSize}}
            {{/input-or-display}}
          </div>
        </div>
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.dataVolumeType.label'}}{{field-required}}</label>
            {{#input-or-display
                    editable=(eq mode "new")
                    value=config.dataVolumeType}}
              {{new-select class="form-control"
                           content=diskTypeChoices
                           value=config.dataVolumeType
              }}
            {{/input-or-display}}
          </div>
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.dataVolumeSize.label'}}{{field-required}}</label>
            {{#input-or-display editable=(eq mode "new") value=config.dataVolumeSize}}
              {{input type="number"
                      min=100 max=1000
                      name="data-size"
                      classNames="form-control"
                      value=config.dataVolumeSize}}
            {{/input-or-display}}
          </div>
        </div>
      {{/accordion-list-item}}
    {{/if}}
    {{#if (gte step 6)}}
      {{#accordion-list-item title=(t 'cluster.loadbalancer.title')
                             detail=(t 'cluster.loadbalancer.detail')
                             expandOnInit=true
                             expandAll=al.expandAll
                             expand=(action expandFn)
      }}
        <div class="row">
          <div class="col span-6 mb-0">
            <label>{{t 'cluster.createLoadBalancer.label'}}</label>
            {{#input-or-display
                    editable=(eq mode "new")
                    value=config.createLoadBalancer}}
              {{input type="checkbox"
                      name="use-lb"
                      checked=config.createLoadBalancer
              }}
            {{/input-or-display}}
          </div>
        </div>
        {{#if needLB}}
          <br/>
          <div class="row">
            <label>{{t 'cluster.newEIP.label'}}</label>
            {{#radio-button
                    name="new-or-ex"
                    selection=newEIP
                    value=true
            }}
            {{/radio-button}}
          </div>
          <div class="row">
            <label>{{t 'cluster.oldEIP.label'}}</label>
            {{#radio-button
                    name="new-or-ex"
                    value=false
                    selection=newEIP
            }}
            {{/radio-button}}
          </div>
          <div class="row">

            {{#if needNewClusterEIP}}
              <div class="col span-6 mb-0">
                <label>{{t 'cluster.lbBandwidth.label'}}</label>
                {{#input-or-display
                        editable=(eq mode "new")
                        value=config.lbEIPBandwidthSize}}
                  {{input type="number"
                          name="lb-bandwidth"
                          min=10
                          max=1000
                          value=config.lbEIPBandwidthSize
                  }}
                {{/input-or-display}}
              </div>
            {{else}}
              <div class="col span-6 mb-0">
                <label>{{t 'cluster.lbFloatingIP.label'}}</label>
                {{#input-or-display
                        editable=(eq mode "new")
                        value=config.lbFloatingIP}}
                  {{input type="text"
                          placeholder=(t 'cluster.lbFloatingIP.placeholder')
                          name="existing-ip"
                          value=config.lbFloatingIP
                  }}
                {{/input-or-display}}
              </div>
            {{/if}}
          </div>
        {{/if}}
      {{/accordion-list-item }}
    {{/if}}
  {{/accordion-list}}

  {{save-cancel editing=(eq mode 'edit')
                save='save'
                cancel='cancel'
                createLabel=createLabel
  }}

  {{top-errors errors=errors}}

</section>